.flex-row,
.flex-2-2,
.flex-1,
.flex-3,
.flex-4,
.flex-2-1 {
    display: flex;
    }

.flex-row {
  flex-direction: row;
  background: #4fa1b0;
}

.flex-2-1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noPic {
  height: 200px;
  text-align: center;
  margin: 20px;
}

.noPic h2 {
  height: auto;
  position: center;
}
.flex-2-2 {
flex-direction: row;
height: auto;
}

.flex-1 {
    flex: 0.5;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-2 {
    flex: 2.5;
    }

.border {
    border: none;
}

.flex-3,
.flex-4 {
  flex: 1;
  flex-direction: column;
  align-items: center;
    }

.pic1 img,
.pic2 img {
  box-shadow: 0 0 10px 2px #6173b0;
  justify-content: flex-end;
}

p {
 margin: 20px;
}

.flex-1 a {
  text-decoration: none;
}
