* {
    box-sizing: border-box;
    margin: 0 auto;
}
.container {
  width: 650px;
  height: 650px;
}

.messageContainer {
  padding: 40px 20px;
  text-align: center;
  border: red 3px solid;
  padding: 20px;
  font-weight: bold;
  color: red; 
}

p {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: yellow 3px solid;
    padding: 20px;
    margin: 20px;
    text-align: center;    
}

.prize {
  background: red;
  color: yellow;
}
.noPrize {
  background: green;
  color: yellow;
}